body{
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    color: #00ff99;
    margin-top: 100px;
}

p{
    font-size: 20px;
}
button{
    background-color: #00ff99;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}
button:hover{
    background-color: white;
    color: green;
}
a{
    color: #00ff99;
    text-decoration: none;
    font-size: 18px;
}

a:hover{
    color: white;
}
nav{
    margin: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

nav a:hover{
    color: #00ff99;
}
nav h2{
    color: #00ff99;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}